# Anomaly Detection Notebook
# Date Started: 8 August 2022

## Chapter 1: Workflow

## Working Notes:
#### 1. Failed adding Metadata to the Notebook ("invalid JSON")
#### 2. Cannot concatenate X and y DataFrames despite 
  X info: 3772 rows x 6 columns and 
  y info: 3772 rows x 1 columns

#### Metadata Recommended by Hint

"my_metadata": {
    "raw_data_folder": "../01-Data/"
  }

#### General Metadata

"metadata_notebook": {
    "metadata_name": "Anomaly Detection using Scikit-learn",
    "metadata_source": "Manning Livebooks",
    "metadata_date_started": "20220810"
  }

## 1. Download data to directory - Done

## 2. Import relevant packages - Done

In [5]:
import dask
import numpy as np
import matplotlib 
import pandas as pd
import sklearn 
import scipy
# Had to add this line because scipy.io cannot be used 
# without reference importing 
from scipy import io

## 3. Load Dataset

In [51]:
# Add directory as a string
rawdataDirectory = "../01-Data/Raw/"
dataDirectory = "../01-Data/"
dataFile = "thyroid.mat"
dataFile = rawdataDirectory + dataFile
print (dataFile)

../01-Data/Raw/thyroid.mat

In [10]:
thyroidD = scipy.io.loadmat(dataFile)

## 4. Extract X and Y and Concatenate

### 4.1 Explore Dataset as Dictionary

In [11]:
len(thyroidD)

5

In [12]:
# "Iterating over a dictionary produces it's keys"
# Source: https://www.pythonlikeyoumeanit.com/Module2_EssentialsOfPython/DataStructures_II_Dictionaries.html
[i for i in thyroidD]

['__header__', '__version__', '__globals__', 'X', 'y']

In [25]:
# Loop through both keys and values, by using the items() function:
# https://www.w3schools.com/python/gloss_python_loop_dictionary_items.asp
# for i, j in thyroidD.items():
#  print(i, j)
#
# Simply calling the name of the dictionary gives the same ouput
thyroidD

{'__header__': b'MATLAB 5.0 MAT-file, written by Octave 3.8.0, 2014-12-05 13:11:25 UTC',
 '__version__': '1.0',
 '__globals__': [],
 'X': array([[7.74193548e-01, 1.13207547e-03, 1.37571157e-01, 2.75700935e-01,
         2.95774648e-01, 2.36065574e-01],
        [2.47311828e-01, 4.71698113e-04, 2.79886148e-01, 3.29439252e-01,
         5.35211268e-01, 1.73770492e-01],
        [4.94623656e-01, 3.58490566e-03, 2.22960152e-01, 2.33644860e-01,
         5.25821596e-01, 1.24590164e-01],
        ...,
        [9.35483871e-01, 2.45283019e-02, 1.60341556e-01, 2.82710280e-01,
         3.75586854e-01, 2.00000000e-01],
        [6.77419355e-01, 1.47169811e-03, 1.90702087e-01, 2.42990654e-01,
         3.23943662e-01, 1.95081967e-01],
        [4.83870968e-01, 3.56603774e-03, 1.90702087e-01, 2.12616822e-01,
         3.38028169e-01, 1.63934426e-01]]),
 'y': array([[0.],
        [0.],
        [0.],
        ...,
        [0.],
        [0.],
        [0.]])}

In [35]:
thyroidHdr = thyroidD["__header__"]
thyroidHdr
thyroidVrsn = thyroidD["__version__"]
thyroidVrsn
thyroidGLobals = thyroidD["__globals__"]
thyroidGLobals

[]

### 4.2 Extract X and y

In [48]:
# https://www.w3schools.com/python/python_dictionaries_access.asp
#  tried to create thyroidX as a np.array but error:
#      'builtin_function_or_method' object is not subscriptable
# Note: A later error identified that thyoidX was indeed a np array. Not sure where the above came in
#    Maybe it was the fact that the array contained tuples and not single values?
''' https://www.marsja.se/how-to-convert-numpy-array-to-pandas-dataframe-examples/#:~:text=To%20convert%20an%20array%20to%20a%20dataframe%20with%20Python%20you,to%20be%20named%20with%20columns. '''
thyroidX = pd.DataFrame(thyroidD["X"])
type(thyroidX)
thyroidX

             0         1         2         3         4         5
0     0.774194  0.001132  0.137571  0.275701  0.295775  0.236066
1     0.247312  0.000472  0.279886  0.329439  0.535211  0.173770
2     0.494624  0.003585  0.222960  0.233645  0.525822  0.124590
3     0.677419  0.001698  0.156546  0.175234  0.333333  0.136066
4     0.236559  0.000472  0.241935  0.320093  0.333333  0.247541
...        ...       ...       ...       ...       ...       ...
3767  0.817204  0.000113  0.190702  0.287383  0.413146  0.188525
3768  0.430108  0.002453  0.232448  0.287383  0.446009  0.175410
3769  0.935484  0.024528  0.160342  0.282710  0.375587  0.200000
3770  0.677419  0.001472  0.190702  0.242991  0.323944  0.195082
3771  0.483871  0.003566  0.190702  0.212617  0.338028  0.163934

[3772 rows x 6 columns]

In [36]:
pd.DataFrame.info(thyroidX)
pd.DataFrame.describe(thyroidX)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3772 entries, 0 to 3771
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3772 non-null   float64
 1   1       3772 non-null   float64
 2   2       3772 non-null   float64
 3   3       3772 non-null   float64
 4   4       3772 non-null   float64
 5   5       3772 non-null   float64
dtypes: float64(6)
memory usage: 176.9 KB

,0,1,2,3,4,5
count,3772.000000,3772.000000,3772.000000,3772.000000,3772.000000,3772.000000
mean,0.543121,0.008983,0.186826,0.248332,0.376941,0.177301
std,0.203790,0.043978,0.070405,0.080579,0.087382,0.054907
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.376344,0.001132,0.156546,0.203271,0.328638,0.149180
50%,0.569892,0.003019,0.190702,0.241822,0.375587,0.173770
75%,0.709677,0.004528,0.213472,0.282710,0.413146,0.196721
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [39]:
thyroid_y = pd.DataFrame(thyroidD["y"])
thyroid_y

        0
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
...   ...
3767  0.0
3768  0.0
3769  0.0
3770  0.0
3771  0.0

[3772 rows x 1 columns]

In [40]:
pd.DataFrame.info(thyroid_y)
pd.DataFrame.describe(thyroid_y)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3772 entries, 0 to 3771
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3772 non-null   float64
dtypes: float64(1)
memory usage: 29.6 KB

                 0
count  3772.000000
mean      0.024655
std       0.155093
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000

### 4.3 Concatenate the DataFrames and Inspect

In [46]:
thyroidDF = pd.concat([thyroid_y, thyroidX], axis = 1)
pd.DataFrame.info(thyroidDF)
pd.DataFrame.describe(thyroidDF)
thyroidDF

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3772 entries, 0 to 3771
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3772 non-null   float64
 1   0       3772 non-null   float64
 2   1       3772 non-null   float64
 3   2       3772 non-null   float64
 4   3       3772 non-null   float64
 5   4       3772 non-null   float64
 6   5       3772 non-null   float64
dtypes: float64(7)
memory usage: 206.4 KB

        0         0         1         2         3         4         5
0     0.0  0.774194  0.001132  0.137571  0.275701  0.295775  0.236066
1     0.0  0.247312  0.000472  0.279886  0.329439  0.535211  0.173770
2     0.0  0.494624  0.003585  0.222960  0.233645  0.525822  0.124590
3     0.0  0.677419  0.001698  0.156546  0.175234  0.333333  0.136066
4     0.0  0.236559  0.000472  0.241935  0.320093  0.333333  0.247541
...   ...       ...       ...       ...       ...       ...       ...
3767  0.0  0.817204  0.000113  0.190702  0.287383  0.413146  0.188525
3768  0.0  0.430108  0.002453  0.232448  0.287383  0.446009  0.175410
3769  0.0  0.935484  0.024528  0.160342  0.282710  0.375587  0.200000
3770  0.0  0.677419  0.001472  0.190702  0.242991  0.323944  0.195082
3771  0.0  0.483871  0.003566  0.190702  0.212617  0.338028  0.163934

[3772 rows x 7 columns]

In [47]:
print(thyroidDF)

        0         0         1         2         3         4         5
0     0.0  0.774194  0.001132  0.137571  0.275701  0.295775  0.236066
1     0.0  0.247312  0.000472  0.279886  0.329439  0.535211  0.173770
2     0.0  0.494624  0.003585  0.222960  0.233645  0.525822  0.124590
3     0.0  0.677419  0.001698  0.156546  0.175234  0.333333  0.136066
4     0.0  0.236559  0.000472  0.241935  0.320093  0.333333  0.247541
...   ...       ...       ...       ...       ...       ...       ...
3767  0.0  0.817204  0.000113  0.190702  0.287383  0.413146  0.188525
3768  0.0  0.430108  0.002453  0.232448  0.287383  0.446009  0.175410
3769  0.0  0.935484  0.024528  0.160342  0.282710  0.375587  0.200000
3770  0.0  0.677419  0.001472  0.190702  0.242991  0.323944  0.195082
3771  0.0  0.483871  0.003566  0.190702  0.212617  0.338028  0.163934

[3772 rows x 7 columns]

### NOTE: No columns appear to need cleaning

### 4.4 Export DataFrame as csv

In [52]:
dataDirectory = "../01-Data/"
csvFile = "thyroid.csv"
csvdataFile = dataDirectory + csvFile
thyroidDF.to_csv(csvdataFile)